# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
+ List popular languages for Data Science
+ List commonly used libraries used by Data Scientists
+ Create table of Data Science tools
+ Introducing arithmetic expression examples
+ Create markdown cell with title of the notebook

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. SciPy
4. Matplotlib

| Data Science Tools |
|--------------------|
| Mysql |
| Tensorflow lite |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
17+38

55

In [5]:
76-48

28

In [6]:
34*56

1904

In [7]:
456/87

5.241379310344827

In [8]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Luis Sebastian Roa Ramos